!pip install lxml
!pip install kmodes
!pip install pandas

In [1]:
pip install --upgrade beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\gebruiker\anaconda3\lib\site-packages (4.13.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from beautifulsoup4) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)

In [2]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\gebruiker\anaconda3\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gebruiker\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)

In [3]:
import warnings
warnings.simplefilter("ignore")

In [4]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [5]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [6]:
print("hello")

hello

In [7]:
2+2

4

In [8]:
2+2

4

In [9]:
2+3

5

In [10]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [11]:
soup = BeautifulSoup(html, "html.parser")

In [12]:
from bs4 import BeautifulSoup

In [13]:
soup = BeautifulSoup(html, "html.parser")

In [14]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [15]:
tag_object = soup.title
print("tag object:" , tag_object)

tag object: <title>Page Title</title>

In [16]:
print("tag object type:" , type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [17]:
tag_object = soup.h3
tag_object

In [18]:
tag_child =tag_object.b
tag_child

In [19]:
# Children, Parents, and Siblings
tag_object.parent

In [20]:
tag_child =tag_object.b
tag_child

In [21]:
parent_tag=tag_child.parent
parent_tag

In [22]:
tag_object

In [23]:
tag_object.parent

In [24]:
sibling_1 = tag_object.next_sibling
sibling_1

In [25]:
sibling_2 = sibling_1.next_sibling
sibling_2

In [26]:
sibling_2.next_sibling

In [27]:
tag_child['id']

'boldest'

In [28]:
tag_child.attrs

{'id': 'boldest'}

In [29]:
tag_child.get('id')

'boldest'

In [30]:
#Navigable String
tag_string=tag_child.string
tag_string

'Lebron James'

In [31]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'


# Filter

In [32]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [33]:
table="<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"

In [34]:
table_bs = BeautifulSoup(table, "html.parser")

In [35]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [ ]:
#

In [36]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"