In [2]:
print("hello, Python!")

hello, Python!

In [3]:
import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

In [4]:
# print command
print("hello")

hello

In [5]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [6]:
print('hello, world!')

hello, world!

In [7]:
z = 2 + 15

In [9]:
z

17

In [10]:
type(12)

int

In [12]:
type(1.12)

float

In [13]:
type(-1)

int

In [14]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [15]:
# convert from one object type to a different object type
type(2)
float(2)

2.0

In [16]:
type(float(2))

float

In [17]:
int(1.1)

1

In [18]:
int("2")

2

In [19]:
type(int("2"))

int

In [20]:
float("1.2")

1.2

In [21]:
str(1)

'1'

In [22]:
str(1.2)

'1.2'

In [25]:
type(False)

bool

In [27]:
int(True)

1

In [28]:
type(6//2)

int

In [29]:
int("1001")

1001

In [30]:
type("hello" == "world")

bool

In [31]:
str("123-456-7890")

'123-456-7890'

In [37]:
26//6

4

In [38]:
25/6

4.166666666666667

In [39]:
5*3

15

In [40]:
5**2

25

In [41]:
x = 44 +56- 32

In [42]:
x

68

In [43]:
x = x / 60

In [44]:
x

1.1333333333333333

In [46]:
total_min = 55 + 63+ 71
total_min

189

In [47]:
total_hours = total_min / 60 
total_hours

3.15

In [48]:
x = 3 + 2 * 2
x

7

In [49]:
y = (3 + 2) * 2
y

10

In [51]:
z = x + y
z

17

In [52]:
name = "The BodyGuard"

In [53]:
name[::2]

'TeBdGad'

In [54]:
name[0:5:2]

'TeB'

In [55]:
statement = name + " is a nice guy"
statement

'The BodyGuard is a nice guy'

In [56]:
3 * "the bodyguard"

'the bodyguardthe bodyguardthe bodyguard'

In [57]:
print("the bodyguard \n is a nice guy")

the bodyguard
 is a nice guy

In [58]:
print("the bodyguard \t is a nice guy")

the bodyguard 	 is a nice guy

In [59]:
print("the bodyguard \\ is a nice guy")

the bodyguard \ is a nice guy

In [60]:
print(r"the bodyguard \ is a nice guy")

the bodyguard \ is a nice guy

In [63]:
a = "Thriller is the sixth studio album"

a.upper()

'Horror is the sixth studio album'

In [64]:
a = "Thriller is the sixth studio album"
a.replace ("Thriller", "Horror")

'Horror is the sixth studio album'

In [65]:
name = "footbalacademy"
name.find("ac")

7

In [66]:
name.find("dem")

10

In [67]:
name = "the bodyGuard"
split_string = (name.split())
split_string

['the', 'bodyGuard']

In [70]:
e = 'clocrkr1e1c1t'
print(e[::2])

correct

In [71]:
f2="YOU ARE RIGHT"
f2.lower()

'you are right'

In [72]:
print("\\")

\

In [74]:

g = "Mary had a lias snow Ans sure to go"
g.find("snow")

16

In [75]:
g.replace("Mary","Bob")

'Bob had a lias snow Ans sure to go'

### In the string s3, find whether the digit is present or not using the \d and search() function:

In [79]:
s3 = "House number- 1105"
# Write your code below and press Shift+Enter to execute
import re
if re.search(r"\d", s3):
    print("Digit is present.")
else:
    print("Digit is not present.")

Digit is present.

In [80]:
# Create a list

L = ["The Bodyguard", 7.0, 1992]
L

['The Bodyguard', 7.0, 1992]

In [81]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )

the same element using negative and positive indexing:
 Postive: The Bodyguard
 Negative: The Bodyguard
the same element using negative and positive indexing:
 Postive: 7.0
 Negative: 7.0

In [82]:
# Sample List

["The Bodyguard", 7.0, 1992, [1, 2], ("A", 1)]

['The Bodyguard', 7.0, 1992, [1, 2], ('A', 1)]

In [83]:
# List slicing

L[3:5]

[]

In [84]:
# Use extend to add elements to list

L = ["The Bodyguard", 7.0]
L.extend(['pop', 10])
L

['The Bodyguard', 7.0, 'pop', 10]

In [85]:
# Use extend to add elements to list

L = [ "The Bodyguard", 7.0]
L.extend(['pop', 10])
L

['The Bodyguard', 7.0, 'pop', 10]

In [86]:
# Use append to add elements to list

L.append(['a','b'])
L

['The Bodyguard', 7.0, 'pop', 10, ['a', 'b']]

In [87]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [88]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [89]:
# Split the string, default is by space

'alex fergosen'.split()

['alex', 'fergosen']

In [90]:
# Split the string by comma

'A,E,R,D'.split(',')

['A', 'E', 'R', 'D']

In [91]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

## Copy and Clone List

In [92]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [93]:
B = A[:]

In [94]:
B

['hard rock', 10, 1.2]

In [100]:
# Write your code below and press Shift+Enter to execute
a_list = [1, "hello", [1,2,3], True]

a_list[1:4]

['hello', [1, 2, 3], True]

In [101]:
# Concatenate two lists
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

## Scenario : Shopping list

In [103]:
Shopping_list = ["Watch","Laptop","Shoes","Pen","Clothes"]

In [104]:
Shopping_list.append("Football")

In [105]:
print(Shopping_list[0])

Watch

In [106]:
print(Shopping_list[-1])

Football

In [107]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [108]:
print(Shopping_list[1:3])

['Laptop', 'Shoes']

In [111]:
# CHANGE THE ITEM
Shopping_list[3] = "Notebook"

In [110]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

In [112]:
# Delete the item

del (Shopping_list[4])

In [114]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

## Tuple

In [116]:
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [119]:
print(tuple1[-1])

1.2

In [121]:
print(tuple1[2])

1.2

In [123]:
# concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

#### slicing in tuple

In [124]:
tuple2[0:3]

('disco', 10, 1.2)

In [125]:
tuple2[3:5]

('hard rock', 10)

In [127]:
len(tuple2)

5

In [128]:
type(tuple2)

tuple

##  another tulpe  [sample]

In [129]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [130]:
# nested tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [131]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4

In [134]:
NestedT = (1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NestedT[2][1][1]

'o'

In [135]:
NestedT[4][1][1]

2

In [136]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [137]:
C_tuple=(-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [139]:
fruits = ["apple", "banana", "orange"] 
fruits.append("mango") 
print(fruits)

['apple', 'banana', 'orange', 'mango']

In [140]:
my_list = [1, 2, 3, 4, 5] 
new_list = my_list.copy() 
print(new_list)

[1, 2, 3, 4, 5]

In [141]:
my_list = [1, 2, 2, 3, 4, 2, 5, 2] 
count = my_list.count(2) 
print(count)

4

In [142]:
fruits = ["apple", "banana", "orange"]

more_fruits = ["mango", "grape"] 
fruits.extend(more_fruits) 
print(fruits)

['apple', 'banana', 'orange', 'mango', 'grape']

In [143]:
my_list = [10, 20, 30, 40, 50] 
print(my_list[0])

10

In [144]:
print(my_list[-1])

50

In [145]:
my_list = [1, 2, 3, 4, 5] 
my_list.insert(2, 6) 
print(my_list)

[1, 2, 6, 3, 4, 5]

In [146]:
my_list[1] = 25 # Modifying the second element 
print(my_list)

[1, 25, 6, 3, 4, 5]

In [147]:
my_list = [10, 20, 30, 40, 50] 
removed_element = my_list.pop() # Removes and returns the last element 
print(removed_element)

50

## list

In [148]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [151]:
release_year_dict["Thriller"]

'1982'

In [152]:
release_year_dict["Bat Out of Hell"]

'1977'

In [153]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [154]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [155]:
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [156]:
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [157]:
"Thriller" in release_year_dict

False

In [158]:
"The Bodyguard" in release_year_dict

True

In [159]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Night":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Night': '1977'}

In [160]:
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Night'])

In [161]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [162]:
# Write your code below and press Shift+Enter to execute

album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

In [163]:
album_sales_dict["Thriller"]

65

In [164]:
album_sales_dict.keys()

dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])

In [165]:
album_sales_dict.values()

dict_values([50, 50, 65])

In [173]:
inventory = {}

In [174]:
ProductNo1 = "Mobile Phone"
ProductNo1_quantity = 5
ProductNo1_price = 20000
ProductNo1_releaseYear= 2020

In [176]:
inventory["ProductNo1"]= ProductNo1
inventory["ProductNo1_quantity"]= ProductNo1_quantity
inventory["ProductNo1_price"]= ProductNo1_price
inventory["ProductNo1_releaseYear"]= ProductNo1_releaseYear

In [178]:
ProductNo2 = "Laptop"
ProductNo2_quantity = 10
ProductNo2_price = 50000
ProductNo2_releaseYear= 2023

In [179]:
inventory["ProductNo2"] = ProductNo2
inventory["ProductNo2_quantity"] = ProductNo2_quantity
inventory["ProductNo2_price"] = ProductNo2_price
inventory["ProductNo2_releaseYear"]= ProductNo2_releaseYear

In [180]:
"ProductNo1_releaseYear" in inventory
"ProductNo2_releaseYear" in inventory

True

In [182]:
print(inventory)

{'ProductNo1': 'Mobile Phone', 'ProductNo1_quantity': 5, 'ProductNo1_price': 20000, 'ProductNo1_releaseYear': 2020, 'ProductNo2': 'Laptop', 'ProductNo2_quantity': 10, 'ProductNo2_price': 50000, 'ProductNo2_releaseYear': 2023}

In [183]:
del(inventory["ProductNo1_releaseYear"])

In [184]:
print(inventory)

{'ProductNo1': 'Mobile Phone', 'ProductNo1_quantity': 5, 'ProductNo1_price': 20000, 'ProductNo2': 'Laptop', 'ProductNo2_quantity': 10, 'ProductNo2_price': 50000, 'ProductNo2_releaseYear': 2023}

# Sets in Python

In [186]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
print(album_set)

{65, '30-Nov-82', 'Pop, Rock, R&B', '00:42:19', 10.0, None, 'Thriller', 46.0, 'Michael Jackson', 1982}

In [188]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
print(music_genres)

{'R&B', 'folk rock', 'disco', 'rock', 'soul', 'progressive rock', 'pop', 'soft rock', 'hard rock'}

In [189]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A.add("NSYNC")
print(A)

{'AC/DC', 'NSYNC', 'Back in Black', 'Thriller'}

In [190]:
A.remove("NSYNC")
print(A)

{'AC/DC', 'Back in Black', 'Thriller'}

In [191]:
"AC/DC" in A

True

## Sets Logic Operations

In [192]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [193]:
print(album_set1, album_set2)

{'Back in Black', 'AC/DC', 'Thriller'} {'The Dark Side of the Moon', 'AC/DC', 'Back in Black'}

### find the overlap

In [194]:
intersection = album_set1 & album_set2
print(intersection)

{'AC/DC', 'Back in Black'}

### find the difference

In [196]:
# Find the difference in set1 but not set2
album_set1.difference(album_set2)

{'Thriller'}

In [197]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [198]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [201]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [202]:
album_set1.issuperset(album_set2)

False

In [203]:
album_set2.issuperset(album_set1)

False

In [204]:
{"Back in Black", "AC/DC"}.issubset(album_set1)

True

In [205]:
album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [206]:
set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [207]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

In [210]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [212]:
album_set1.issubset(album_set3)

True

## Dictionaries & Sets

In [213]:
person = { "name": "John",  "age": 30, "city": "New York"}

In [214]:
name = person["name"]
age = person["age"]

In [215]:
age

30

In [217]:
person["Country"] = "USA"
person["city"] = "Chicago"
person

{'name': 'John', 'age': 30, 'city': 'Chicago', 'Country': 'USA'}

In [218]:
del person["Country"]

In [219]:
person

{'name': 'John', 'age': 30, 'city': 'Chicago'}

In [220]:
person.update({"Profession": "Doctor"})

In [222]:
person

{'name': 'John', 'age': 30, 'city': 'Chicago', 'Profession': 'Doctor'}

In [223]:
person.update({"Profession": "Teacher"})

In [224]:
person

{'name': 'John', 'age': 30, 'city': 'Chicago', 'Profession': 'Teacher'}

In [225]:
person.clear()
person

{}

In [226]:
person = { "name": "John",  "age": 30, "city": "New York"}
if "name" in person:
    print("Name exists in the dictionary.")

Name exists in the dictionary.

In [227]:
new_person = person.copy()

In [228]:
fruits = {"apple", "banana", "grape"}
print(fruits)

{'banana', 'apple', 'grape'}

In [229]:
fruits.discard("apple")
print(fruits)

{'banana', 'grape'}

In [230]:
fruits = {"apple", "banana", "grape"}
print(fruits)

{'grape'}

## Conditions in python

In [231]:
# Condition Equal

a = 5
a == 6

False

In [232]:
# Greater than Sign

i = 6
i > 5

True

In [233]:
# Inequality Sign

i = 6
i != 6

False

In [234]:
"ACDC" != "The Bodyguard"

True

In [235]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [236]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [238]:
# Condition statement example

album_year = 1933
album_year = 1985

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Album year is greater than 1980
do something..

In [239]:
album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [240]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [241]:
album_year = 1980

if(album_year > 1979) or (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [ ]:
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

In [ ]:
album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

In [243]:
# Check the condition
player_name = "Ali"
sport = "basketball"
achievement = 25

if (sport == "Tennis") or (achievement == 20):
     print(f"{player_name} meets the criteria! They play {sport} and have {achievements} achievements.")
else:
    print(f"{player_name} does not meet the criteria.")

Ali does not meet the criteria.

In [244]:
player_name = "Usain Bolt"
sport = "Athletics"
achievements = 8

if achievements < 10 and sport != "Soccer":
    print(f"{player_name} plays {sport} and has only {achievements} achievements.")
else:
    print(f"{player_name} does not meet the criteria.")

Usain Bolt plays Athletics and has only 8 achievements.

## The IF statement

In [245]:
age = 25
if age != 30:
    print("You are not 30 years old.")

You are not 30 years old.

In [246]:
age = 20
if age >= 21:
    print("You can enter the bar.")
else:
    print("Sorry, you cannot enter.")

Sorry, you cannot enter.

## The ELIF Statement

In [248]:
if age >= 21:
    print("You can enter the bar.")
elif age >= 18:
    print("You can watch a movie.")
else:
    print("Sorry, you cannot do either.")

You can watch a movie.

#### example: Automated Teller Machine (ATM)

In [250]:
#if the user selects "Withdraw Cash" the ATM can branch into different denominations of bills to dispense based on the amount requested.

user_choice = "Withdraw Cash"
if user_choice == "Withdraw Cash":
    amount = int(input("Enter the amount to withdraw: "))
    if amount % 10 == 0:
        dispense_cash(amount)
    else:
        print("Please enter a multiple of 10.")
else:
    print("Thank you for using the ATM.")

Enter the amount to withdraw: 25
Please enter a multiple of 10.

# Logical operators

In [255]:
is_do_not_disturb = True
if not is_do_not_disturb:
    send_notification("New message received")

### The AND operator

In [257]:
def choose_a_movie():
    print("Let's choose a movie that everyone likes!")

# بعدش شرط رو بنویسی:
friend1_likes_comedy = True
friend2_likes_action = False
friend3_likes_drama = False

if friend1_likes_comedy or friend2_likes_action or friend3_likes_drama:
    choose_a_movie()

Let's choose a movie that everyone likes!

# Loop

In [258]:
colors = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]

In [259]:
for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

In [260]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

### The Enumerated For Loop

In [262]:
fruits = ["apple", "banana", "orange"]
for index, fruit in enumerate(fruits):
    print(f"At position {index}, I found a {fruit}")

At position 0, I found a apple
At position 1, I found a banana
At position 2, I found a orange

## while loop

In [263]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [265]:
dates = [1982,1980,1973]
N = len(dates)

In [266]:
# for loop and ragne function
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [267]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [269]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

#### the index and the elements of a list

In [270]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue
0 red
1 yellow
2 green
3 purple
4 blue

In [273]:
# while loop 
dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]
while(year != 1973):
    print(year)
    i = i + 1
    year = dates[i]
print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [274]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for square in squares:
     print(square)

red
yellow
green
purple
blue

In [275]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for genre in Genres:
    print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [276]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = 0 
while i < len(PlayListRatings) and PlayListRatings[i] >= 6:
    print(PlayListRatings[i])
    i += 1

10
9.5
10
8
7.5

In [ ]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

# FUNCTION

In [278]:
def calculate_total(a, b):  
    total = a + b           
    return total            
result = calculate_total(5, 7)
print(result)

12

In [283]:
string_length = len("Hello, World!")  
print(string_length)
list_length = len([1, 2, 3, 4, 5]) 
print(list_length)

13
5

In [284]:
highest = max([5, 12, 8, 23, 16])
print(highest)

23

In [285]:
lowest = min([5, 12, 8, 23, 16]) 
print(lowest)

5

In [286]:
total = sum([10, 20, 30, 40, 50])
print(total)

150

In [287]:
def greet(name):
    return "Hello, " + name

result = greet("Alice")
print(result)

Hello, Alice

In [288]:
def multiply(a, b):
    """
    This function multiplies two numbers.
    Input: a (number), b (number)
    Output: Product of a and b
    """
    print(a * b)
    
multiply(2,6)

12

In [289]:
def add(a, b):
    return a + b

sum_result = add(3, 5)

In [290]:
print(sum_result)

8

In [291]:
global_variable = "I'm global"
def example_function():
    local_variable = "I'm local"
    print(global_variable)  # Accessing global variable
    print(local_variable)

In [293]:
example_function()

I'm global
I'm local

In [294]:
#Local variables are only visible and accessible within the scope of the function where they are defined.
print(local_variable)

NameError: name 'local_variable' is not defined

### functions with loops

In [295]:
def print_numbers(limit):
    for i in range(1, limit+1):
        print(i)
        
print_numbers(5)

1
2
3
4
5

In [296]:
def greet(name):
    return "Hello, " + name

for _ in range(3):
    print(greet("Alice"))

Hello, Alice
Hello, Alice
Hello, Alice

### modifying data structure using functions

In [302]:
# Define an empty list as the initial data structure
my_list = [1, 2, 3]

In [303]:
# Function to add an element to the list

def add_element(data_structure, element):
    data_structure.append(element)

In [304]:
add_element(my_list, 4)
print(my_list)

[1, 2, 3, 4]

In [305]:
# Function to remove an element from the list

def remove_element(data_structure, element):
    if element in data_structure:
        data_structure.remove(element)
    else:
        print(f"{element} not found in the list.")

In [308]:
remove_element(my_list, 2)

2 not found in the list.

In [309]:
print("Current list:", my_list)

Current list: [1, 3, 4]

In [310]:
remove_element(my_list, 55)

55 not found in the list.

In [311]:
print("Updated list:", my_list)

Updated list: [1, 3, 4]

In [312]:
add_element(my_list, 42)
add_element(my_list, 17)
add_element(my_list, 99)

In [313]:
print("Current list:", my_list)

Current list: [1, 3, 4, 42, 17, 99]

In [314]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

add(2)

2 if you add one 3

3

In [315]:
def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [316]:
Mult(3,6)

18

In [317]:
Mult(2, "The BodyGuard ")

'The BodyGuard The BodyGuard '

In [318]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [319]:
def MJ():
    print('The BodyGuard')

MJ()

The BodyGuard

In [320]:
def MJ1():
    print('The BodyGuard')
    return(None)

MJ1()

The BodyGuard

In [321]:
def con(a, b):
    return(a + b)

con("This ", "is")

'Thisis'

In [322]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [323]:
a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [326]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c) 

a1 = 4
b1 = 5
c1 = Equation(a1, b2)
c2

0

## Pre-defined functions

In [328]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [329]:
sum(album_ratings)

70.0

In [330]:
a = [1, 2]

# Pass the list to the sum function and store the result in a variable
c = sum(a)

# Print the result
print(f"The sum of the elements in the list {a} is {c}.")

The sum of the elements in the list [1, 2] is 3.

In [331]:
def type_of_album(album, year_released):
    
    print(album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("The BodyGuard", 1980)
print(x)

The BodyGuard 1980
Oldie

In [332]:
string= "The BodyGuard is the best album"

# Define a funtion
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("The BodyGuard is the best")

'String matched'

In [333]:
def PrintList(the_list):
    for element in the_list:
        print(element)

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [334]:
def compareStrings(x, y):
# Use if else statement to compare x and y
    if x==y:
        return 1
    
# Declare two different variables as string1 and string2 and pass string in it
string1 = "The BodyGuard is the best album"
string2 = "The BodyGuard is the best album"

# Declare a variable to store result after comparing both the strings
check = compareStrings(string1, string2)

#Use if else statement to compare the string
if check==1:
    print("\nString Matched")
else:
    print("\nString not Matched")

String Matched

In [335]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

In [336]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [337]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

In [338]:
# Python Program to Count words in a String using Dictionary
def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

Total Count: {'little': 3}

# Exception Handling in Python

In [340]:
result = 10 / 0 
print(result)
# Raises ZeroDivisionError

ZeroDivisionError: division by zero

In [341]:
num = int("abc")
# Raises ValueError

ValueError: invalid literal for int() with base 10: 'abc'

In [342]:
my_list = [1, 2, 3]
value = my_list[1]  # No IndexError, within range
missing = my_list[5]  # Raises IndexError

IndexError: list index out of range

In [343]:
my_dict = {"name": "Alice", "age": 30}
value = my_dict.get("city")  # No KeyError, using .get() method
missing = my_dict["city"]  # Raises KeyError

KeyError: 'city'

In [344]:
result = "hello" + 5   
# Raises TypeError

TypeError: can only concatenate str (not "int") to str

In [345]:
text = "example"
length = len(text)  # No AttributeError, correct method usage

In [346]:
text = "example"
length = len(text)  # No AttributeError, correct method usage
missing = text.some_method()  # Raises AttributeError

AttributeError: 'str' object has no attribute 'some_method'

### handling Exceptions

In [347]:
# using Try- except 
try:
    # Attempting to divide 10 by 0
    result = 10 / 0
except ZeroDivisionError:
    # Handling the ZeroDivisionError and printing an error message
    print("Error: Cannot divide by zero")
# This line will be executed regardless of whether an exception occurred
print("outside of try and except block")

Error: Cannot divide by zero
outside of try and except block