In [1]:
print("hello, Python!")

hello, Python!

In [2]:
import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

In [3]:
# print command
print("hello")

hello

In [4]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [ ]:
print('hello, world!')

In [ ]:
z = 2 + 15

In [ ]:
z

In [ ]:
type(12)

In [ ]:
type(1.12)

In [ ]:
type(-1)

In [ ]:
import sys
sys.float_info

In [ ]:
# convert from one object type to a different object type
type(2)
float(2)

In [ ]:
type(float(2))

In [ ]:
int(1.1)

In [ ]:
int("2")

In [ ]:
type(int("2"))

In [ ]:
float("1.2")

In [ ]:
str(1)

In [ ]:
str(1.2)

In [ ]:
type(False)

In [ ]:
int(True)

In [ ]:
type(6//2)

In [ ]:
int("1001")

In [ ]:
type("hello" == "world")

In [ ]:
str("123-456-7890")

In [ ]:
26//6

In [ ]:
25/6

In [ ]:
5*3

In [ ]:
5**2

In [ ]:
x = 44 +56- 32

In [ ]:
x

In [ ]:
x = x / 60

In [ ]:
x

In [ ]:
total_min = 55 + 63+ 71
total_min

In [ ]:
total_hours = total_min / 60 
total_hours

In [ ]:
x = 3 + 2 * 2
x

In [ ]:
y = (3 + 2) * 2
y

In [ ]:
z = x + y
z

In [ ]:
name = "The BodyGuard"

In [ ]:
name[::2]

In [ ]:
name[0:5:2]

In [ ]:
statement = name + " is a nice guy"
statement

In [ ]:
3 * "the bodyguard"

In [ ]:
print("the bodyguard \n is a nice guy")

In [ ]:
print("the bodyguard \t is a nice guy")

In [ ]:
print("the bodyguard \\ is a nice guy")

In [ ]:
print(r"the bodyguard \ is a nice guy")

In [ ]:
a = "Thriller is the sixth studio album"

a.upper()

In [ ]:
a = "Thriller is the sixth studio album"
a.replace ("Thriller", "Horror")

In [ ]:
name = "footbalacademy"
name.find("ac")

In [ ]:
name.find("dem")

In [ ]:
name = "the bodyGuard"
split_string = (name.split())
split_string

In [ ]:
e = 'clocrkr1e1c1t'
print(e[::2])

In [ ]:
f2="YOU ARE RIGHT"
f2.lower()

In [ ]:
print("\\")

In [ ]:

g = "Mary had a lias snow Ans sure to go"
g.find("snow")

In [ ]:
g.replace("Mary","Bob")

### In the string s3, find whether the digit is present or not using the \d and search() function:

In [ ]:
s3 = "House number- 1105"
# Write your code below and press Shift+Enter to execute
import re
if re.search(r"\d", s3):
    print("Digit is present.")
else:
    print("Digit is not present.")

In [ ]:
# Create a list

L = ["The Bodyguard", 7.0, 1992]
L

In [ ]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )

In [ ]:
# Sample List

["The Bodyguard", 7.0, 1992, [1, 2], ("A", 1)]

In [ ]:
# List slicing

L[3:5]

In [ ]:
# Use extend to add elements to list

L = ["The Bodyguard", 7.0]
L.extend(['pop', 10])
L

In [ ]:
# Use extend to add elements to list

L = [ "The Bodyguard", 7.0]
L.extend(['pop', 10])
L

In [ ]:
# Use append to add elements to list

L.append(['a','b'])
L

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

In [ ]:
# Split the string, default is by space

'alex fergosen'.split()

In [ ]:
# Split the string by comma

'A,E,R,D'.split(',')

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

## Copy and Clone List

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

In [ ]:
B = A[:]

In [ ]:
B

In [ ]:
# Write your code below and press Shift+Enter to execute
a_list = [1, "hello", [1,2,3], True]

a_list[1:4]

In [ ]:
# Concatenate two lists
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

## Scenario : Shopping list

In [ ]:
Shopping_list = ["Watch","Laptop","Shoes","Pen","Clothes"]

In [ ]:
Shopping_list.append("Football")

In [ ]:
print(Shopping_list[0])

In [ ]:
print(Shopping_list[-1])

In [ ]:
print(Shopping_list)

In [ ]:
print(Shopping_list[1:3])

In [ ]:
# CHANGE THE ITEM
Shopping_list[3] = "Notebook"

In [ ]:
print(Shopping_list)

In [ ]:
# Delete the item

del (Shopping_list[4])

In [ ]:
print(Shopping_list)

## Tuple

In [ ]:
tuple1 = ("disco",10,1.2 )
tuple1

In [ ]:
print(tuple1[-1])

In [ ]:
print(tuple1[2])

In [ ]:
# concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

#### slicing in tuple

In [ ]:
tuple2[0:3]

In [ ]:
tuple2[3:5]

In [ ]:
len(tuple2)

In [ ]:
type(tuple2)

##  another tulpe  [sample]

In [ ]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

In [ ]:
# nested tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

In [ ]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])

In [ ]:
NestedT = (1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NestedT[2][1][1]

In [ ]:
NestedT[4][1][1]

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

In [ ]:
C_tuple=(-5, 1, -3)
C_list = sorted(C_tuple)
C_list

In [ ]:
fruits = ["apple", "banana", "orange"] 
fruits.append("mango") 
print(fruits)

In [ ]:
my_list = [1, 2, 3, 4, 5] 
new_list = my_list.copy() 
print(new_list)

In [ ]:
my_list = [1, 2, 2, 3, 4, 2, 5, 2] 
count = my_list.count(2) 
print(count)

In [ ]:
fruits = ["apple", "banana", "orange"]

more_fruits = ["mango", "grape"] 
fruits.extend(more_fruits) 
print(fruits)

In [ ]:
my_list = [10, 20, 30, 40, 50] 
print(my_list[0])

In [ ]:
print(my_list[-1])

In [ ]:
my_list = [1, 2, 3, 4, 5] 
my_list.insert(2, 6) 
print(my_list)

In [ ]:
my_list[1] = 25 # Modifying the second element 
print(my_list)

In [ ]:
my_list = [10, 20, 30, 40, 50] 
removed_element = my_list.pop() # Removes and returns the last element 
print(removed_element)

## list

In [ ]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

In [ ]:
release_year_dict["Thriller"]

In [ ]:
release_year_dict["Bat Out of Hell"]

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

In [ ]:
release_year_dict.values()

In [ ]:
release_year_dict['Graduation'] = '2007'
release_year_dict

In [ ]:
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

In [ ]:
"Thriller" in release_year_dict

In [ ]:
"The Bodyguard" in release_year_dict

In [ ]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Night":"1977"}
soundtrack_dic

In [ ]:
soundtrack_dic.keys()

In [ ]:
soundtrack_dic.values()

In [ ]:
# Write your code below and press Shift+Enter to execute

album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

In [ ]:
album_sales_dict["Thriller"]

In [ ]:
album_sales_dict.keys()

In [ ]:
album_sales_dict.values()

In [ ]:
inventory = {}

In [ ]:
ProductNo1 = "Mobile Phone"
ProductNo1_quantity = 5
ProductNo1_price = 20000
ProductNo1_releaseYear= 2020

In [ ]:
inventory["ProductNo1"]= ProductNo1
inventory["ProductNo1_quantity"]= ProductNo1_quantity
inventory["ProductNo1_price"]= ProductNo1_price
inventory["ProductNo1_releaseYear"]= ProductNo1_releaseYear

In [ ]:
ProductNo2 = "Laptop"
ProductNo2_quantity = 10
ProductNo2_price = 50000
ProductNo2_releaseYear= 2023

In [ ]:
inventory["ProductNo2"] = ProductNo2
inventory["ProductNo2_quantity"] = ProductNo2_quantity
inventory["ProductNo2_price"] = ProductNo2_price
inventory["ProductNo2_releaseYear"]= ProductNo2_releaseYear

In [ ]:
"ProductNo1_releaseYear" in inventory
"ProductNo2_releaseYear" in inventory

In [ ]:
print(inventory)

In [ ]:
del(inventory["ProductNo1_releaseYear"])

In [ ]:
print(inventory)

# Sets in Python

In [ ]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
print(album_set)

In [ ]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
print(music_genres)

In [ ]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A.add("NSYNC")
print(A)

In [ ]:
A.remove("NSYNC")
print(A)

In [ ]:
"AC/DC" in A

## Sets Logic Operations

In [ ]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
print(album_set1, album_set2)

### find the overlap

In [ ]:
intersection = album_set1 & album_set2
print(intersection)

### find the difference

In [ ]:
# Find the difference in set1 but not set2
album_set1.difference(album_set2)

In [ ]:
album_set2.difference(album_set1)

In [ ]:
album_set1.intersection(album_set2)

In [ ]:
album_set1.union(album_set2)

In [ ]:
album_set1.issuperset(album_set2)

In [ ]:
album_set2.issuperset(album_set1)

In [ ]:
{"Back in Black", "AC/DC"}.issubset(album_set1)

In [ ]:
album_set1.issuperset({"Back in Black", "AC/DC"})

In [ ]:
set(['rap','house','electronic music', 'rap'])

In [ ]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

In [ ]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

In [ ]:
album_set1.issubset(album_set3)

## Dictionaries & Sets

In [ ]:
person = { "name": "John",  "age": 30, "city": "New York"}

In [ ]:
name = person["name"]
age = person["age"]

In [ ]:
age

In [ ]:
person["Country"] = "USA"
person["city"] = "Chicago"
person

In [ ]:
del person["Country"]

In [ ]:
person

In [ ]:
person.update({"Profession": "Doctor"})

In [ ]:
person

In [ ]:
person.update({"Profession": "Teacher"})

In [ ]:
person

In [ ]:
person.clear()
person

In [ ]:
person = { "name": "John",  "age": 30, "city": "New York"}
if "name" in person:
    print("Name exists in the dictionary.")

In [ ]:
new_person = person.copy()

In [ ]:
fruits = {"apple", "banana", "grape"}
print(fruits)

In [ ]:
fruits.discard("apple")
print(fruits)

In [ ]:
fruits = {"apple", "banana", "grape"}
print(fruits)

## Conditions in python

In [ ]:
# Condition Equal

a = 5
a == 6

In [ ]:
# Greater than Sign

i = 6
i > 5

In [ ]:
# Inequality Sign

i = 6
i != 6

In [ ]:
"ACDC" != "The Bodyguard"

In [ ]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

In [ ]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

In [ ]:
# Condition statement example

album_year = 1933
album_year = 1985

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

In [ ]:
album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

In [ ]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

In [ ]:
album_year = 1980

if(album_year > 1979) or (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

In [ ]:
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

In [ ]:
album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

In [ ]:
# Check the condition
player_name = "Ali"
sport = "basketball"
achievement = 25

if (sport == "Tennis") or (achievement == 20):
     print(f"{player_name} meets the criteria! They play {sport} and have {achievements} achievements.")
else:
    print(f"{player_name} does not meet the criteria.")

In [ ]:
player_name = "Usain Bolt"
sport = "Athletics"
achievements = 8

if achievements < 10 and sport != "Soccer":
    print(f"{player_name} plays {sport} and has only {achievements} achievements.")
else:
    print(f"{player_name} does not meet the criteria.")

## The IF statement

In [ ]:
age = 25
if age != 30:
    print("You are not 30 years old.")

In [ ]:
age = 20
if age >= 21:
    print("You can enter the bar.")
else:
    print("Sorry, you cannot enter.")

## The ELIF Statement

In [ ]:
if age >= 21:
    print("You can enter the bar.")
elif age >= 18:
    print("You can watch a movie.")
else:
    print("Sorry, you cannot do either.")

#### example: Automated Teller Machine (ATM)

In [ ]:
#if the user selects "Withdraw Cash" the ATM can branch into different denominations of bills to dispense based on the amount requested.

user_choice = "Withdraw Cash"
if user_choice == "Withdraw Cash":
    amount = int(input("Enter the amount to withdraw: "))
    if amount % 10 == 0:
        dispense_cash(amount)
    else:
        print("Please enter a multiple of 10.")
else:
    print("Thank you for using the ATM.")

# Logical operators

In [ ]:
is_do_not_disturb = True
if not is_do_not_disturb:
    send_notification("New message received")

### The AND operator

In [ ]:
def choose_a_movie():
    print("Let's choose a movie that everyone likes!")

# بعدش شرط رو بنویسی:
friend1_likes_comedy = True
friend2_likes_action = False
friend3_likes_drama = False

if friend1_likes_comedy or friend2_likes_action or friend3_likes_drama:
    choose_a_movie()

# Loop

In [ ]:
colors = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]

In [ ]:
for color in colors:
    print(color)

In [ ]:
for number in range(1, 11):
    print(number)

### The Enumerated For Loop

In [ ]:
fruits = ["apple", "banana", "orange"]
for index, fruit in enumerate(fruits):
    print(f"At position {index}, I found a {fruit}")

## while loop

In [ ]:
count = 1
while count <= 10:
    print(count)
    count += 1

In [ ]:
dates = [1982,1980,1973]
N = len(dates)

In [ ]:
# for loop and ragne function
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

In [ ]:
# Example of for loop

for i in range(0, 8):
    print(i)

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

#### the index and the elements of a list

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

In [ ]:
# while loop 
dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]
while(year != 1973):
    print(year)
    i = i + 1
    year = dates[i]
print("It took ", i ,"repetitions to get out of loop.")

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for square in squares:
     print(square)

In [ ]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for genre in Genres:
    print(genre)

In [ ]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = 0 
while i < len(PlayListRatings) and PlayListRatings[i] >= 6:
    print(PlayListRatings[i])
    i += 1

In [ ]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

# FUNCTION

In [ ]:
def calculate_total(a, b):  
    total = a + b           
    return total            
result = calculate_total(5, 7)
print(result)

In [ ]:
string_length = len("Hello, World!")  
print(string_length)
list_length = len([1, 2, 3, 4, 5]) 
print(list_length)

In [ ]:
highest = max([5, 12, 8, 23, 16])
print(highest)

In [ ]:
lowest = min([5, 12, 8, 23, 16]) 
print(lowest)

In [ ]:
total = sum([10, 20, 30, 40, 50])
print(total)

In [ ]:
def greet(name):
    return "Hello, " + name

result = greet("Alice")
print(result)

In [ ]:
def multiply(a, b):
    """
    This function multiplies two numbers.
    Input: a (number), b (number)
    Output: Product of a and b
    """
    print(a * b)
    
multiply(2,6)

In [ ]:
def add(a, b):
    return a + b

sum_result = add(3, 5)

In [ ]:
print(sum_result)

In [ ]:
global_variable = "I'm global"
def example_function():
    local_variable = "I'm local"
    print(global_variable)  # Accessing global variable
    print(local_variable)

In [ ]:
example_function()

In [ ]:
#Local variables are only visible and accessible within the scope of the function where they are defined.
print(local_variable)

### functions with loops

In [ ]:
def print_numbers(limit):
    for i in range(1, limit+1):
        print(i)
        
print_numbers(5)

In [ ]:
def greet(name):
    return "Hello, " + name

for _ in range(3):
    print(greet("Alice"))

### modifying data structure using functions

In [ ]:
# Define an empty list as the initial data structure
my_list = [1, 2, 3]

In [ ]:
# Function to add an element to the list

def add_element(data_structure, element):
    data_structure.append(element)

In [ ]:
add_element(my_list, 4)
print(my_list)

In [ ]:
# Function to remove an element from the list

def remove_element(data_structure, element):
    if element in data_structure:
        data_structure.remove(element)
    else:
        print(f"{element} not found in the list.")

In [ ]:
remove_element(my_list, 2)

In [ ]:
print("Current list:", my_list)

In [ ]:
remove_element(my_list, 55)

In [ ]:
print("Updated list:", my_list)

In [ ]:
add_element(my_list, 42)
add_element(my_list, 17)
add_element(my_list, 99)

In [ ]:
print("Current list:", my_list)

In [ ]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

add(2)

In [ ]:
def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

In [ ]:
Mult(3,6)

In [ ]:
Mult(2, "The BodyGuard ")

In [ ]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [ ]:
def MJ():
    print('The BodyGuard')

MJ()

In [ ]:
def MJ1():
    print('The BodyGuard')
    return(None)

MJ1()

In [ ]:
def con(a, b):
    return(a + b)

con("This ", "is")

In [ ]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

In [ ]:
a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

In [ ]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c) 

a1 = 4
b1 = 5
c1 = Equation(a1, b2)
c2

## Pre-defined functions

In [ ]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

In [ ]:
sum(album_ratings)

In [ ]:
a = [1, 2]

# Pass the list to the sum function and store the result in a variable
c = sum(a)

# Print the result
print(f"The sum of the elements in the list {a} is {c}.")

In [ ]:
def type_of_album(album, year_released):
    
    print(album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("The BodyGuard", 1980)
print(x)

In [ ]:
string= "The BodyGuard is the best album"

# Define a funtion
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("The BodyGuard is the best")

In [ ]:
def PrintList(the_list):
    for element in the_list:
        print(element)

PrintList(['1', 1, 'the man', "abc"])

In [ ]:
def compareStrings(x, y):
# Use if else statement to compare x and y
    if x==y:
        return 1
    
# Declare two different variables as string1 and string2 and pass string in it
string1 = "The BodyGuard is the best album"
string2 = "The BodyGuard is the best album"

# Declare a variable to store result after comparing both the strings
check = compareStrings(string1, string2)

#Use if else statement to compare the string
if check==1:
    print("\nString Matched")
else:
    print("\nString not Matched")

In [ ]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

In [ ]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

In [ ]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

In [ ]:
# Python Program to Count words in a String using Dictionary
def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

# Exception Handling in Python

In [ ]:
result = 10 / 0 
print(result)
# Raises ZeroDivisionError

In [ ]:
num = int("abc")
# Raises ValueError

In [ ]:
my_list = [1, 2, 3]
value = my_list[1]  # No IndexError, within range
missing = my_list[5]  # Raises IndexError

In [ ]:
my_dict = {"name": "Alice", "age": 30}
value = my_dict.get("city")  # No KeyError, using .get() method
missing = my_dict["city"]  # Raises KeyError

In [ ]:
result = "hello" + 5   
# Raises TypeError

In [ ]:
text = "example"
length = len(text)  # No AttributeError, correct method usage

In [ ]:
text = "example"
length = len(text)  # No AttributeError, correct method usage
missing = text.some_method()  # Raises AttributeError

### handling Exceptions

In [ ]:
# using Try- except 
try:
    # Attempting to divide 10 by 0
    result = 10 / 0
except ZeroDivisionError:
    # Handling the ZeroDivisionError and printing an error message
    print("Error: Cannot divide by zero")
# This line will be executed regardless of whether an exception occurred
print("outside of try and except block")

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)

In [8]:

def safe_divide(numerator, denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("The number you provided cant divide 1 because it is 0")
        return None

In [ ]:
numerator=int(input("Enter the numerator value:-"))
denominator=int(input("Enter the denominator value:-"))
print(safe_divide(numerator,denominator))

In [1]:
def perform_calculation(number1):
    try:
        result = number1 ** 2  
        print(f"Result: {result}")
    except ValueError:
        print("Error: Invalid input. Please enter a positive integer or a float.")

In [2]:
try:
    number1 = float(input("Enter the number: "))
    perform_calculation(number1)
except ValueError:
    print("Error: Please enter a valid number.")

Enter the number: r
Error: Please enter a valid number.

# Objects and Classes

In [13]:
class ClassName:
    # Class attributes (shared by all instances)
    class_attribute = "atributex"
    # Constructor method (initialize instance attributes)
    def __init__(self, attribute1, attribute2):
        self.attribute1 = attribute1
        self.attribute2 = attribute2

In [14]:
class Car:
    #Class attribute (shared by all instances)
    max_speed = 120
    
    # constructor method (initialize instance attributes)
    def __init__(self, make, model, color, speed = 0):
        self.make = make
        self.model= model
        self.color = color
        self.speed = speed
        
    # Method for accelerating the car
    def accelerate(self, acceleration):
        if self.speed + acceleration <= Car.max_speed:
            self.speed += acceleration
        else:
            self.speed = Car.max_speed
            
    # Method to get the current speed of the car
    def get_speed(self):
        return self.speed

In [16]:
car1 = Car("toyota", "camry", "green")
car2 = Car("Honda", "accord", "white")

In [17]:
# Accelerate the cars
car1.accelerate(30)
car2.accelerate(20)

In [ ]:
print(f"{car1.make} {car1.model} is currently at {car1.get_speed()} km/h.")
print(f"{car2.make} {car2.model} is currently at {car2.get_speed()} km/h.")