In [ ]:
# Open the file in read ('r') mode
file = open('file.txt', 'r')

In [ ]:
# Open the file using 'with' in read ('r') mode
with open('file.txt', 'r') as file:
    # further code

## Reading the entire content

In [ ]:
# Reading and Storing the Entire Content of a File
# Using the read method, you can retrieve the complete content of a file
# and store it as a string in a variable for further processing or display.
# Step 1: Open the file you want to read
with open('file.txt', 'r') as file:
    # Step 2: Use the read method to read the entire content of the file
    file_stuff = file.read()
    # Step 3: Now that the file content is stored in the variable 'file_stuff',
    # you can manipulate or display it as needed.
    # For example, let's print the content to the console:
    print(file_stuff)
# Step 4: The 'with' statement automatically closes the file when it's done,
# ensuring proper resource management and preventing resource leaks.

## Reading the content line by line

In [ ]:
file = open('file.txt', 'r')

line1 = file.readline()  # Reads the first line
line2 = file.readline()  # Reads the second line

In [ ]:
# looping through lines

while True:
    line = file.readline()
    if not line:
        break  # Stop when there are no more lines to read
    print(line)

In [ ]:
import pandas as pd

In [ ]:
# List of lines to write to the file
Lines = ["This is line 1", "This is line 2", "This is line 3"]
# Create a new file Example3.txt for writing
with open('Example3.txt', 'w') as file2:
    for line in Lines:
        file2.write(line + "\n")
    # file2 is automatically closed when the 'with' block exits

In [ ]:
# Data to append to the existing file
new_data = "This is line C"
# Open an existing file Example2.txt for appending
with open('Example2.txt', 'a') as file1:
    file1.write(new_data + "\n")
    # file1 is automatically closed when the 'with' block exits

In [ ]:
new_data = "This is line D"

# Open an existing file Example2.txt for appending
with open('Example2.txt', 'a') as file1:
    file1.write(new_data + "\n")
    # file1 is automatically closed when the 'with' block exits

### Copying contents from one file to another

In [ ]:
# Open the source file for reading
with open('source.txt', 'r') as source_file:
    #open the distination file for writing
    with open('destination.txt', 'w') as destination_file:
        # Read lines from the source file and copy them to the destination file
        for line in source_file:
            destination_file.write(line)
    # Destination file is automatically closed when the 'with' block exits
# Source file is automatically closed when the 'with' block exits

## writing files

In [ ]:
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

In [ ]:
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

In [ ]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

In [ ]:
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

### Appending Files

In [ ]:
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [ ]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

In [ ]:
# r+ : Reading and writing. Cannot truncate the file.
# w+ : Writing and reading. Truncates the file.
# a+ : Appending and Reading. Creates a new file, if none exists. You dont have to dwell on the specifics of each mode for this lab.

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

## copy the file Example2.txt to the file Example3.txt:

In [ ]:
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

## Pandas

In [ ]:
import pandas as pd
# Read the CSV file into a DataFrame
df = pd.read_csv('your_file.csv')

In [ ]:
import pandas as pd

# Create a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s.iloc[4])

In [ ]:
print(s[2])

In [ ]:
print(type(s))

In [ ]:
print(len(s))

In [ ]:
print(s.iloc[3])

In [ ]:
print(s.iloc[1:4])

In [ ]:
# Creating DataFrames from Dictionaries

import pandas as pd

data = {'name' : ['alice', 'john', 'sarah'],
'age' : [24, 35, 51], 'city': ['new york', 'san francisco', 'athen']}
        
df = pd.DataFrame(data)

print(df)

In [ ]:
# colum selection

print(df['age'])

In [ ]:
print(df.iloc[2])

In [ ]:
print(df.iloc[1])

In [ ]:
# slicing

print(df[['name', 'age']])

In [ ]:
# show rows
print(df[1:3])

In [ ]:
# show column

print(df['city'])

In [ ]:
# conditional filtering 

age_above_25 = df[df['age'] > 25]

print(age_above_25)

In [ ]:
# saving DataFrames

df.to_csv('trading_data.csv', index=False)

In [ ]:
# Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

In [ ]:
type(x)

In [ ]:
x = df['Name']
x

In [ ]:
type(x)

In [ ]:
# Access to multiple columns

z = df[['Department', 'Salary']]
z

In [ ]:
# exercise 
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}

df1 = pd.DataFrame(a)
df1

In [ ]:
b = df1['Marks']
b

In [ ]:
c = df1[['Country','Course']]
c

In [ ]:
x = df1['Student']
x

In [ ]:
type(x)

In [ ]:
df.iloc[0, 0]

In [ ]:
df.iloc[1,3]

In [ ]:
df.loc[1,'Salary']

In [ ]:
#set the "Name" column as an index

df2 = df
df2 = df2.set_index('Name')

In [ ]:
#To display the first 5 rows of new dataframe
df2.head()

In [ ]:
df2.loc['Jane', 'Salary']

In [ ]:
df2.loc['Jane', 'Department']

In [ ]:
# select rows from Rose to Jane and columns from ID to Department

df2.loc['Rose':'Jane', 'ID':'Department']

In [ ]:
# select rows van index 1 to 2 and colums 1,2 and 3

df2.iloc[0:2, 0:3]

In [ ]:
# select rows index 0 and 1, and colums ID and Department

df.loc[0:2,'ID':'Department']

In [ ]:
# Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

In [ ]:
# loc werkt op basis van label and iloc werkt op basis van index
df.loc[2:3,  'Name':'Department']

In [ ]:
# Dataset aanmaken als lijst van dictionaries
data = [
    {"OrderID": 1, "Product": "Laptop", "Category": "Electronics", "Quantity": 2, "Price": 800, "Total": 1600, "OrderDate": "2022-01-10", "CustomerCity": "New York"},
    {"OrderID": 2, "Product": "Smartphone", "Category": "Electronics", "Quantity": 3, "Price": 600, "Total": 1800, "OrderDate": "2022-02-15", "CustomerCity": "Los Angeles"},
    {"OrderID": 3, "Product": "Desk Chair", "Category": "Furniture", "Quantity": 5, "Price": 150, "Total": 750, "OrderDate": "2022-03-12", "CustomerCity": "Chicago"},
    {"OrderID": 4, "Product": "Notebook", "Category": "Stationery", "Quantity": 10, "Price": 2, "Total": 20, "OrderDate": "2022-04-05", "CustomerCity": "Houston"},
    {"OrderID": 5, "Product": "Monitor", "Category": "Electronics", "Quantity": 1, "Price": 300, "Total": 300, "OrderDate": "2022-05-21", "CustomerCity": "Miami"},
]

# DataFrame aanmaken
df = pd.DataFrame(data)

In [ ]:
df = pd.read_csv("Product-sales.csv")

print(df.head())

In [ ]:
df

In [ ]:
df.head()

In [ ]:
x = df[['Quantity']]
x

In [ ]:
x = df['Product']
x

In [ ]:
y = df[['Product','Category', 'Quantity']]
y

In [ ]:
df.iloc[0, 0]

In [ ]:
df.iloc[0, 2]

In [ ]:
df.iloc[2,2]

In [ ]:
df.loc[0, 'Product']

In [ ]:
df.loc[1, 'CustomerCity']

In [ ]:
df.loc[1, 'Total']

In [ ]:
df.iloc[0:2, 0:3]

In [ ]:
df.loc[0:2, 'OrderID':'Category']

In [ ]:
q = df['Price']
q

In [ ]:
q = df[['Product','Category']]
q

In [ ]:
q = df.loc[2:3]
q

In [ ]:
new_index = ['a', 'b', 'c', 'd', 'e']
df_new = df
df_new.index = new_index

df_new.loc['a', 'CustomerCity']

In [ ]:
df_new.loc['a':'d', 'CustomerCity']

# Numpy

In [ ]:
import numpy as np

b = np.array([[1, 2, 3], [4, 5, 6]])
print(b)

In [ ]:
b.ndim

In [ ]:
b.size

In [ ]:
b.shape

In [ ]:
a = np.array([1,2,3,4,5])
a

In [ ]:
type(a)

In [ ]:
a.dtype

In [ ]:
a.size

In [ ]:
a.ndim

In [ ]:
c = np.array([1.4, 2.4, 5.7, 6.2])

In [ ]:
c.dtype

In [ ]:
c = np.array([20, 1,2,3,4])

In [ ]:
c

In [ ]:
c[0] = 100
c

In [ ]:
c[4] = 7

In [ ]:
c

In [ ]:
d = c[1:4]
d

In [ ]:
c[3:5] = 300,400
c

In [ ]:
y = np.array([1,2])

z = 2 * y
z

In [ ]:
u = np.array([1,0])
v = np.array([0,1])

In [ ]:
z = u - v

In [ ]:
z

In [ ]:
u = np.array([1,0])
v = np.array([0,1])

z = u + v
z

In [ ]:
z = np.array([1,2])

z = 2*y
z

In [ ]:
# hadamard product

u = np.array([1,2])
v = np.array([3,2])

z = u*v
z

In [ ]:
# dot product

u = np.array([1,2])
v = np.array([3,1])

result = np.dot(u,v)

result

In [ ]:
# broadcasting

u = np.array([1,2,3,-1])

z = u + 1
z

In [ ]:
#universal functions
a = np.array([1,-1,1,4])

mean_a = a.mean()

mean_a

In [ ]:
b = np.array([1,-2,1,4, 5])

max_b = b.max()
max_b

In [ ]:
np.pi

In [ ]:
np.pi
x = np.array([0, np.pi/2, np.pi])

y = np.sin(x)

y

In [ ]:
np.linspace(-2,2,num = 9)

In [ ]:
x = np.linspace(0, 2*np.pi, 100)
y = np.sin(x)

import matplotlib.pyplot as plt
%matplotlib inline

plt.plot(x,y)

In [ ]:
a = np.array([0, 1, 2, 3, 4])
a

In [ ]:
# Print each element

print("a[0]:", a[0])
print("a[1]:", a[1])
print("a[2]:", a[2])
print("a[3]:", a[3])
print("a[4]:", a[4])

In [ ]:
print(np.__version__)

In [ ]:
type(a)

In [ ]:
a.dtype

In [ ]:
b = np.array([3.1, 11.02, 6.2, 213.2, 5.2])

# Enter your code here
b.dtype

In [ ]:
c = np.array([20, 1, 2, 3, 4])
c

In [ ]:
c[0]

In [ ]:
c[0] = 80
c

In [ ]:
c[3] = 22
c

In [ ]:
d = c[1:4]
d

In [ ]:
c[3:5] = 200,400
c

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5:2])

In [ ]:
print(arr[4:])

In [ ]:
print(arr[1:5:])

In [ ]:
print(arr[1:6:2])

In [ ]:
a = np.array([0, 1, 2, 3, 4])
a

In [ ]:
a.size

In [ ]:
a.shape

In [ ]:
a.ndim

In [ ]:
a.shape

In [ ]:
b = np.array([10, 20, 30, 40, 50, 60, 70])

# Enter your code here

In [ ]:
b = np.array([10, 20, 30, 40, 50, 60, 70])

# Enter your code here

b.shape

In [ ]:
b.size

In [ ]:
b.ndim

In [ ]:
a = np.array([1, -1, 1, -1])
mean = a.mean()
mean

In [ ]:
standard_deviation=a.std()
standard_deviation

In [ ]:
b = np.array([-1, 2, 3, 4, 5])
b

In [ ]:
max_b = b.max()
max_b

In [ ]:
c = np.array([-10, 201, 43, 94, 502])

# Enter your code here
standard_deviation = c.std()
standard_deviation

In [ ]:
u = np.array([1, 0])
u

## Numpy Array Operations

In [ ]:
v = np.array([0, 1])
v

In [ ]:
# Numpy Array Addition

z = np.add(u, v)
z

In [ ]:
# Plotting functions


import time 
import sys
import numpy as np 

import matplotlib.pyplot as plt


def Plotvec1(u, z, v):
    
    ax = plt.axes() # to generate the full window axes
    ax.arrow(0, 0, *u, head_width=0.05, color='r', head_length=0.1)# Add an arrow to the  U Axes with arrow head width 0.05, color red and arrow head length 0.1
    plt.text(*(u + 0.1), 'u')#Adds the text u to the Axes 
    
    ax.arrow(0, 0, *v, head_width=0.05, color='b', head_length=0.1)# Add an arrow to the  v Axes with arrow head width 0.05, color red and arrow head length 0.1
    plt.text(*(v + 0.1), 'v')#Adds the text v to the Axes 
    
    ax.arrow(0, 0, *z, head_width=0.05, head_length=0.1)
    plt.text(*(z + 0.1), 'z')#Adds the text z to the Axes 
    plt.ylim(-2, 2)#set the ylim to bottom(-2), top(2)
    plt.xlim(-2, 2)#set the xlim to left(-2), right(2)

In [ ]:
Plotvec1(u, z, v)

In [ ]:
arr1 = np.array([10, 11, 12, 13, 14, 15])
arr2 = np.array([20, 21, 22, 23, 24, 25])
arr3 = np.add(arr1, arr2)
arr3

In [ ]:
a = np.array([10, 20, 30])
b = np.array([5, 10, 15])

c = np.subtract(a, b)
print(c)

In [ ]:
# Array Subtraction

arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([20, 21, 22, 23, 24, 25])

# Enter your code here
arr3 = np.subtract(arr1, arr2)
arr3

In [ ]:
## array multiplication
x = np.array([1, 2])
y = np.array([2, 1])

z = np.multiply(x,y)
z

In [ ]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([2, 1, 2, 3, 4, 5])

arr3 = np.multiply(arr1, arr2)
arr3

In [ ]:
# Array division
a = np.array([10, 20, 30])
b = np.array([2, 10, 5])

In [ ]:
c = np.divide(a, b)
c

In [ ]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([3, 5, 10, 8, 2, 33])

arr3 = np.divide(arr1, arr2)
arr3

### Dot product

In [ ]:
X = np.array([1, 2])
Y = np.array([3, 2])

np.dot(X,Y)

In [ ]:
print(X[0])

In [ ]:
print(X[1])

In [ ]:
#Elements of Y
print(Y[0])
print(Y[1])

In [ ]:
arr1 = np.array([3, 5])
arr2 = np.array([2, 4])

In [ ]:
np.dot(arr1, arr2)

In [ ]:
# Adding Constant to a Numpy Array

u = np.array([1, 2, 3, -1]) 
u + 1

In [ ]:
arr = np.array([1, 2, 3, -1]) 

arr + 1

## Mathematical Functions

In [ ]:
np.pi

In [ ]:
x = np.array([0, np.pi/2, np.pi])
y = np.sin(x)
y

In [ ]:
# linspace

np.linspace(-2,2, num = 12)

In [ ]:
np.linspace(-2, 5, num=9)

In [ ]:
x = np.linspace(0, 2*np.pi, num = 100)

In [ ]:
y = np.sin(x)

plt.plot(x, y)

In [ ]:

x = np.linspace(5, 4, num = 6)

In [ ]:
arr1 = np.array([1, 2, 3])
print(arr1)

In [ ]:
for x in arr1:
  print(x)

In [ ]:
u = np.array([1, 0])
v = np.array([0, 1])

z = np.subtract(u, v)
z

In [ ]:
z = np.array([2, 4])

In [ ]:
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([1, 0, 1, 0, 1])

a*b

In [ ]:
# Import the libraries

import time 
import sys
import numpy as np 

import matplotlib.pyplot as plt


def Plotvec2(a,b):
    ax = plt.axes()# to generate the full window axes
    ax.arrow(0, 0, *a, head_width=0.05, color ='r', head_length=0.1)#Add an arrow to the  a Axes with arrow head width 0.05, color red and arrow head length 0.1
    plt.text(*(a + 0.1), 'a')
    ax.arrow(0, 0, *b, head_width=0.05, color ='b', head_length=0.1)#Add an arrow to the  b Axes with arrow head width 0.05, color blue and arrow head length 0.1
    plt.text(*(b + 0.1), 'b')
    plt.ylim(-2, 2)#set the ylim to bottom(-2), top(2)
    plt.xlim(-2, 2)#set the xlim to left(-2), right(2)

In [ ]:
a = np.array([-1,1])
b = np.array([1,1])
Plotvec2(a,b)
print("The dot product is", np.dot(a,b))

In [ ]:
import numpy as np

v = np.array([3, 4])
length = np.linalg.norm(v)
print(length)

In [ ]:
arr1 = np.array([1, 2,3,4,5])
arr2 = np.array([6,7,8,9,10])

even_arr1 = arr1[1:5:2]
print(arr1)

In [ ]:
arr2 = np.array([6, 7, 8, 9, 10])
odd_arr1=arr1[0:5:2]
print("odd for array1",odd_arr1)

# two demensional array

In [ ]:
a = [[11,12,13], [21,22,23], [31,32,33]]

A = np.array(a)
A

In [ ]:
A.shape

In [ ]:
A.ndim

In [ ]:
A.size

In [ ]:
A[1,2]

In [ ]:
A[2,2]

In [ ]:
A[1,1]

In [ ]:
A[0][0:2]

In [ ]:
A[0][0:3]

In [ ]:
A[0:2, 2]

In [ ]:
X = np.array([[1, 0], [0, 1]]) 
X

In [ ]:
Y = np.array([[2, 1], [1, 2]]) 
Y

In [ ]:
# Add X and Y

Z = X + Y
Z

In [ ]:
Y = np.array([[2, 1], [1, 2]]) 
Y

In [ ]:
# Multiply Y with 2

Z = 2 * Y
Z

In [ ]:
Y = np.array([[2, 1], [1, 2]]) 
Y

In [ ]:
X = np.array([[1, 0], [0, 1]]) 
X

In [ ]:
Z = X * Y
Z

In [ ]:
A = np.array([[0, 1, 1], [1, 0, 1]])
A

In [ ]:
A = np.array([[0, 1, 1], [1, 0, 1]])
A

In [ ]:
# Create a matrix B

B = np.array([[1, 1], [1, 1], [-1, 1]])
B

In [ ]:
Z = np.dot(A,B)
Z

### calculate the transposed matrix

In [ ]:
# Create a matrix C

C = np.array([[1,1],[2,2],[3,3]])
C

In [ ]:
C.T

In [ ]:
# Write your code below and press Shift+Enter to execute

a = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

A = np.array(a)
A

In [ ]:

A.size

In [ ]:
A[0][0:2]

In [ ]:
# Write your code below and press Shift+Enter to execute

B = np.array([[0, 1], [1, 0], [1, 1], [-1, 0]])

X = np.dot(A,B)
X

In [ ]:
arr_1d = np.array([1, 2, 3, 4, 5])

In [ ]:
arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
print(arr_2d.ndim)

In [ ]:
print(arr_2d.size)

In [ ]:
print(arr_1d[2])

In [ ]:
print(arr_2d[1, 2])

In [ ]:

print(arr_2d[:, 1])

In [ ]:
# Array addition
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
result = array1 + array2
print(result)

In [ ]:
array = np.array([1, 2, 3])
result = array * 2 
print(result)

In [ ]:
# Element-wise multiplication (Hadamard product)
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
result = array1 * array2
print(result)

In [ ]:
# Matrix multiplication
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])
result = np.dot(matrix1, matrix2)
print(result)

In [ ]:
X=np.array([[1,0],[0,1]]) 

Y=np.array([[2,1],[1,2]]) 

Z=np.dot(X,Y)

In [ ]:
Z

# Pandas is an API

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dict_={'a':[11,21,31],'b':[12,22,32]}

In [ ]:
df=pd.DataFrame(dict_)
type(df)

In [ ]:
df.head()

In [ ]:
df.mean()

In [ ]:
!pip install nba_api

In [ ]:
from nba_api.stats.static import teams
import matplotlib.pyplot as plt

In [ ]:
def one_dict(list_dict):
    keys=list_dict[0].keys()
    out_dict={key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

In [ ]:
nba_teams = teams.get_teams()

In [ ]:
nba_teams[0:3]

In [ ]:
dict_nba_team=one_dict(nba_teams)

df_teams=pd.DataFrame(dict_nba_team)
df_teams.head()

In [ ]:
df_warriors=df_teams[df_teams['nickname']=='Warriors']

df_warriors

In [ ]:
id_warriors = df_warriors[['id']].values[0][0]
id_warriors

In [ ]:
from nba_api.stats.endpoints import leaguegamefinder

In [ ]:
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors)

In [ ]:
gamefinder.get_json()

In [ ]:
games = gamefinder.get_data_frames()[0]
games.head()

In [ ]:
import requests

filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%205/Labs/Golden_State.pkl"

def download(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, "wb") as f:
            f.write(response.content)

download(filename, "Golden_State.pkl")

In [ ]:
file_name = "Golden_State.pkl"
games = pd.read_pickle(file_name)
games.head()

In [ ]:
file_name = "Golden_State.pkl"
games = pd.read_pickle(file_name)
games.head()

In [ ]:
games_home=games[games['MATCHUP']=='GSW vs. TOR']
games_away=games[games['MATCHUP']=='GSW @ TOR']

In [ ]:
games_home['PLUS_MINUS'].mean()

In [ ]:
games_away['PLUS_MINUS'].mean()

In [ ]:
fig, ax = plt.subplots()

games_away.plot(x='GAME_DATE',y='PLUS_MINUS', ax=ax)
games_home.plot(x='GAME_DATE',y='PLUS_MINUS', ax=ax)
ax.legend(["away", "home"])
plt.show()

In [ ]:
games_home['PTS'].mean()

games_away['PTS'].mean()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dict_ = {'a':[11, 12, 13], 'b': [12, 22, 32]}

In [ ]:
df = pd.DataFrame(dict_)
type(df)

In [ ]:
df.head()

In [ ]:
df.mean()

In [ ]:
!pip install nba_api

In [2]:
from nba_api.stats.static import teams
import matplotlib.pyplot as plt

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\alire\anaconda3\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\alire\anaconda3\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "C:\Users\alire\anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\alire\anaconda3\lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\alire\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 711, in start
    self.io_loop.start()
  File "C:\Users\alire\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\alire\anaconda3\lib\asyncio\base_events.py", line 603, in run_forever
    self._run_once()
  File "C:\Users\alire\anaconda3\lib\asyncio\base_events.py", line 1906, in _run_once
    handle._run()
  File "C:\Users\alire\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\alire\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\Users\alire\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\Users\alire\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\Users\alire\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "C:\Users\alire\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "C:\Users\alire\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\alire\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_cell
    result = self._run_cell(
  File "C:\Users\alire\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3016, in _run_cell
    result = runner(coro)
  File "C:\Users\alire\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\alire\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3221, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\alire\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3400, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\alire\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\alire\AppData\Local\Temp\ipykernel_57132\3348136001.py", line 2, in <module>
    import matplotlib.pyplot as plt
  File "C:\Users\alire\anaconda3\lib\site-packages\matplotlib\__init__.py", line 131, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "C:\Users\alire\anaconda3\lib\site-packages\matplotlib\rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "C:\Users\alire\anaconda3\lib\site-packages\matplotlib\colors.py", line 56, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "C:\Users\alire\anaconda3\lib\site-packages\matplotlib\scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "C:\Users\alire\anaconda3\lib\site-packages\matplotlib\ticker.py", line 138, in <module>
    from matplotlib import transforms as mtransforms
  File "C:\Users\alire\anaconda3\lib\site-packages\matplotlib\transforms.py", line 49, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

In [8]:
def one_dict(list_dict):
    keys = list_dict[0].keys()
    out_dict = {key:[] for key in keys}
    for dict_ in list_dict:
        for key,value in dict_.items():
            out_dict[key].append(value)
    return out_dict

In [9]:
nba_teams = teams.get_teams()

In [10]:
nba_teams[0:3]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [16]:
pip install --upgrade numpy

Requirement already satisfied: numpy in c:\users\alire\anaconda3\lib\site-packages (2.2.5)
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\alire\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\alire\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alire\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\alire\anaconda3\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alire\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\alire\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
dict_nba_team = one_dict(nba_teams)
df_teams = pd.DataFrame(dict_nba_team)
df_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [20]:
df_warriors=df_teams[df_teams['nickname']=='Warriors']
df_warriors

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [21]:
id_warriors = df_warriors[['id']].values[0][0]

In [22]:
id_warriors

np.int64(1610612744)