# sql learn

In [14]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("sf-film-locations.db")


query = "SELECT * FROM locations"
df = pd.read_sql_query(query, conn)


df.head()

,title,release_year,locations,fun_facts,production_company,director,writer,actor_1,actor_2,actor_3
0,The Rock,1996,Alcatraz Island,First time Alcatraz allowed filming,Hollywood Pictures,Michael Bay,David Weisberg,Sean Connery,Nicolas Cage,Ed Harris
1,Vertigo,1958,Golden Gate Bridge,None,Paramount Pictures,Alfred Hitchcock,Alec Coppel,James Stewart,Kim Novak,None

In [15]:
import sqlite3

# اتصال به دیتابیس
conn = sqlite3.connect("sf-film-locations.db")
cursor = conn.cursor()

# افزودن ردیف‌های بیشتر
rows = [
    ("The Rock", 1996, "Alcatraz Island", "First time Alcatraz allowed filming", "Hollywood Pictures", "Michael Bay", "David Weisberg", "Sean Connery", "Nicolas Cage", "Ed Harris"),
    ("Vertigo", 1958, "Golden Gate Bridge", None, "Paramount Pictures", "Alfred Hitchcock", "Alec Coppel", "James Stewart", "Kim Novak", None),
    ("Mrs. Doubtfire", 1993, "Pacific Heights", None, "Blue Wolf", "Chris Columbus", "Randi Mayem Singer", "Robin Williams", "Sally Field", "Pierce Brosnan"),
    ("Pursuit of Happyness", 2006, "Montgomery Street", "Based on a true story", "Columbia Pictures", "Gabriele Muccino", "Steve Conrad", "Will Smith", "Thandiwe Newton", "Jaden Smith"),
    ("Milk", 2008, "Castro Street", None, "Focus Features", "Gus Van Sant", "Dustin Lance Black", "Sean Penn", "Emile Hirsch", "James Franco"),
    ("Zodiac", 2007, "Washington and Cherry", "Based on real events", "Paramount Pictures", "David Fincher", "James Vanderbilt", "Jake Gyllenhaal", "Robert Downey Jr.", "Mark Ruffalo"),
    ("Inside Out", 2015, "Market Street", "Animated film", "Pixar Animation Studios", "Pete Docter", "Pete Docter", "Amy Poehler", "Phyllis Smith", "Lewis Black"),
    ("The Internship", 2013, "Google SF Office", "Comedy about Google internship", "Twentieth Century Fox", "Shawn Levy", "Vince Vaughn", "Owen Wilson", "Rose Byrne", "Max Minghella"),
    ("Blue Jasmine", 2013, "Embarcadero", "Drama by Woody Allen", "Gravier Productions", "Woody Allen", "Woody Allen", "Cate Blanchett", "Sally Hawkins", "Alec Baldwin"),
    ("Ant-Man", 2015, "San Francisco Rooftops", "Marvel superhero film", "Marvel Studios", "Peyton Reed", "Edgar Wright", "Paul Rudd", "Evangeline Lilly", "Michael Douglas")
]

cursor.executemany("INSERT INTO locations VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", rows)
conn.commit()
conn.close()

print("✅ ok.")

✅ ok.

In [16]:
df = pd.read_sql_query("SELECT * FROM locations", sqlite3.connect("sf-film-locations.db"))
df.head(10)

,title,release_year,locations,fun_facts,production_company,director,writer,actor_1,actor_2,actor_3
0,The Rock,1996,Alcatraz Island,First time Alcatraz allowed filming,Hollywood Pictures,Michael Bay,David Weisberg,Sean Connery,Nicolas Cage,Ed Harris
1,Vertigo,1958,Golden Gate Bridge,None,Paramount Pictures,Alfred Hitchcock,Alec Coppel,James Stewart,Kim Novak,None
2,The Rock,1996,Alcatraz Island,First time Alcatraz allowed filming,Hollywood Pictures,Michael Bay,David Weisberg,Sean Connery,Nicolas Cage,Ed Harris
3,Vertigo,1958,Golden Gate Bridge,None,Paramount Pictures,Alfred Hitchcock,Alec Coppel,James Stewart,Kim Novak,None
4,Mrs. Doubtfire,1993,Pacific Heights,None,Blue Wolf,Chris Columbus,Randi Mayem Singer,Robin Williams,Sally Field,Pierce Brosnan
5,Pursuit of Happyness,2006,Montgomery Street,Based on a true story,Columbia Pictures,Gabriele Muccino,Steve Conrad,Will Smith,Thandiwe Newton,Jaden Smith
6,Milk,2008,Castro Street,None,Focus Features,Gus Van Sant,Dustin Lance Black,Sean Penn,Emile Hirsch,James Franco
7,Zodiac,2007,Washington and Cherry,Based on real events,Paramount Pictures,David Fincher,James Vanderbilt,Jake Gyllenhaal,Robert Downey Jr.,Mark Ruffalo
8,Inside Out,2015,Market Street,Animated film,Pixar Animation Studios,Pete Docter,Pete Docter,Amy Poehler,Phyllis Smith,Lewis Black
9,The Internship,2013,Google SF Office,Comedy about Google internship,Twentieth Century Fox,Shawn Levy,Vince Vaughn,Owen Wilson,Rose Byrne,Max Minghella

In [19]:
SELECT * FROM locations;

SyntaxError: invalid syntax (3406092729.py, line 1)

In [20]:
!pip uninstall ipython-sql -y
!pip uninstall prettytable -y
!pip install ipython-sql prettytable==3.5.0

Found existing installation: ipython-sql 0.5.0
Uninstalling ipython-sql-0.5.0:
  Successfully uninstalled ipython-sql-0.5.0
Found existing installation: prettytable 3.16.0
Uninstalling prettytable-3.16.0:
  Successfully uninstalled prettytable-3.16.0
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\lib\site-packages (0.3.9)
Collecting prettytable==3.5.0
  Downloading prettytable-3.5.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable==3.5.0) (0.2.5)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\gebruiker\appdata\roaming\python\python312\site-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in c:\users\gebruiker\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: greenlet>=1 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.11.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Downloading prettytable-3.5.0-py3-none-any.whl (26 kB)
Installing collected packages: prettytable
Successfully installed prettytable-3.5.0

In [21]:
%load_ext sql
%sql sqlite:///sf-film-locations.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
%sql sqlite:///sf-film-locations.db

In [25]:
%%sql
SELECT * FROM locations LIMIT 10;

 * sqlite:///sf-film-locations.db
Done.

KeyError: 'SIMPLE'

In [26]:
!pip uninstall prettytable -y
!pip install prettytable==3.5.0

Found existing installation: prettytable 3.5.0
Uninstalling prettytable-3.5.0:
  Successfully uninstalled prettytable-3.5.0
Defaulting to user installation because normal site-packages is not writeable
Collecting prettytable==3.5.0
  Using cached prettytable-3.5.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable==3.5.0) (0.2.5)
Using cached prettytable-3.5.0-py3-none-any.whl (26 kB)
Installing collected packages: prettytable
Successfully installed prettytable-3.5.0

In [1]:
%load_ext sql
%sql sqlite:///sf-film-locations.db

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [2]:
!pip uninstall SQLAlchemy -y
!pip install SQLAlchemy==1.4.46

Found existing installation: SQLAlchemy 2.0.41
Uninstalling SQLAlchemy-2.0.41:
  Successfully uninstalled SQLAlchemy-2.0.41

WARNING: Failed to remove contents in a temporary directory 'C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages\~qlalchemy'.
You can safely remove it manually.

Defaulting to user installation because normal site-packages is not writeable
Collecting SQLAlchemy==1.4.46
  Downloading SQLAlchemy-1.4.46.tar.gz (8.5 MB)
     ---------------------------------------- 0.0/8.5 MB ? eta -:--:--
     -------- ------------------------------- 1.8/8.5 MB 10.1 MB/s eta 0:00:01
     ------------------- -------------------- 4.2/8.5 MB 11.0 MB/s eta 0:00:01
     ------------------------------ --------- 6.6/8.5 MB 11.2 MB/s eta 0:00:01
     ---------------------------------------- 8.5/8.5 MB 11.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy==1.4.46) (3.0.1)
Building wheels for collected packages: SQLAlchemy
  Building wheel for SQLAlchemy (setup.py): started
  Building wheel for SQLAlchemy (setup.py): finished with status 'done'
  Created wheel for SQLAlchemy: filename=SQLAlchemy-1.4.46-cp312-cp312-win_amd64.whl size=1545908 sha256=5508d82e91ea679db7e782df14277b4b771413447c618c9f227f5954f774bb90
  Stored in directory: c:\users\gebruiker\appdata\local\pip\cache\wheels\02\a2\82\ea179f8d421288f49b068fc735deb487f017b91a35651fc0d0
Successfully built SQLAlchemy
Installing collected packages: SQLAlchemy
Successfully installed SQLAlchemy-1.4.46

In [1]:
%load_ext sql
%sql sqlite:///sf-film-locations.db

'Connected: @sf-film-locations.db'

In [2]:
import sql
sql.run.ResultSet.prettytable_style = "PLAIN_COLUMNS"

In [3]:
%%sql
SELECT * FROM locations LIMIT 10;

 * sqlite:///sf-film-locations.db
Done.

[('The Rock', 1996, 'Alcatraz Island', 'First time Alcatraz allowed filming', 'Hollywood Pictures', 'Michael Bay', 'David Weisberg', 'Sean Connery', 'Nicolas Cage', 'Ed Harris'),
 ('Vertigo', 1958, 'Golden Gate Bridge', None, 'Paramount Pictures', 'Alfred Hitchcock', 'Alec Coppel', 'James Stewart', 'Kim Novak', None),
 ('The Rock', 1996, 'Alcatraz Island', 'First time Alcatraz allowed filming', 'Hollywood Pictures', 'Michael Bay', 'David Weisberg', 'Sean Connery', 'Nicolas Cage', 'Ed Harris'),
 ('Vertigo', 1958, 'Golden Gate Bridge', None, 'Paramount Pictures', 'Alfred Hitchcock', 'Alec Coppel', 'James Stewart', 'Kim Novak', None),
 ('Mrs. Doubtfire', 1993, 'Pacific Heights', None, 'Blue Wolf', 'Chris Columbus', 'Randi Mayem Singer', 'Robin Williams', 'Sally Field', 'Pierce Brosnan'),
 ('Pursuit of Happyness', 2006, 'Montgomery Street', 'Based on a true story', 'Columbia Pictures', 'Gabriele Muccino', 'Steve Conrad', 'Will Smith', 'Thandiwe Newton', 'Jaden Smith'),
 ('Milk', 2008, 'Castro Street', None, 'Focus Features', 'Gus Van Sant', 'Dustin Lance Black', 'Sean Penn', 'Emile Hirsch', 'James Franco'),
 ('Zodiac', 2007, 'Washington and Cherry', 'Based on real events', 'Paramount Pictures', 'David Fincher', 'James Vanderbilt', 'Jake Gyllenhaal', 'Robert Downey Jr.', 'Mark Ruffalo'),
 ('Inside Out', 2015, 'Market Street', 'Animated film', 'Pixar Animation Studios', 'Pete Docter', 'Pete Docter', 'Amy Poehler', 'Phyllis Smith', 'Lewis Black'),
 ('The Internship', 2013, 'Google SF Office', 'Comedy about Google internship', 'Twentieth Century Fox', 'Shawn Levy', 'Vince Vaughn', 'Owen Wilson', 'Rose Byrne', 'Max Minghella')]

In [4]:
%%sql
PRAGMA table_info(locations);

 * sqlite:///sf-film-locations.db
Done.

[(0, 'title', 'TEXT', 0, None, 0),
 (1, 'release_year', 'INTEGER', 0, None, 0),
 (2, 'locations', 'TEXT', 0, None, 0),
 (3, 'fun_facts', 'TEXT', 0, None, 0),
 (4, 'production_company', 'TEXT', 0, None, 0),
 (5, 'director', 'TEXT', 0, None, 0),
 (6, 'writer', 'TEXT', 0, None, 0),
 (7, 'actor_1', 'TEXT', 0, None, 0),
 (8, 'actor_2', 'TEXT', 0, None, 0),
 (9, 'actor_3', 'TEXT', 0, None, 0)]

In [8]:
%%sql
SELECT title, release_year FROM locations WHERE release_year > 2000;

 * sqlite:///sf-film-locations.db
Done.

[('Pursuit of Happyness', 2006),
 ('Milk', 2008),
 ('Zodiac', 2007),
 ('Inside Out', 2015),
 ('The Internship', 2013),
 ('Blue Jasmine', 2013),
 ('Ant-Man', 2015)]