# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python

### This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Create Markdown cells in Jupyter Notebook  
- Build tables using Markdown  
- Write and execute code cells  
- Convert minutes into hours using Python

## Author

Alireza Ghorbani Nasrollah Abadi